parameters:


application:
    errorPresenter: Error
    scanComposer: false
    mapping:
        *: App\*Module\Presenters\*Presenter

php:
    date.timezone: 'Europe/Prague'

session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	authenticator: App\Model\Authenticator
	users: App\Model\Users
	parameters: Tulinkry\Services\ParameterService

database:
    dsn: %database.dsn%
    user: %database.user%
    password: %database.password%