{block content}

<div class="row">
    <div class="col-md-12">
        <h1>Zapomenuté heslo</h1>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Zadejte váš email, na který zašleme odkaz na obnovení zapomenutého hesla.</p>
    </div>
</div>

{control forgottenPasswordForm}