{block content}

<div class="row">
    <div class="col-md-12">
        <h1>Obnovení hesla</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Zadejte nové heslo</p>
    </div>
</div>

{control renewPasswordForm}