<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Zapomenuté heslo</title>
    <style>
        body {
            background: white
        }
    </style>
</head>
<body>
<p>Dobrý den,</p>
<p></p>
<p>požádali jste o změnu hesla na http://users.bigbandbiskupska.cz</p>
<p>Změnu můžete provést na následujícím odkazu:</p>
<p></p>
<p><a href="{$link}" title="Odkaz na vytvoření nového hesla">{$link}</a></p>
<p></p>
<p>Pokud jste o změnu hesla nežádali, tento email můžete ignorovat.</p>
<p></p>
<p>S pozdravem</p>
<p></p>
<p>Kryštof</p>
</body>
</html>